/.idea/
/bq-encryptor/.idea/
/*/.idea/
/.DS_Store
/*/.DS_Store
/*/**.DS_Store
/*/*/*.DS_Store
/target/
/*/target/
/*/**/target/
/*/*/target/
/*/*/*/target/
*.iml
*/**.iml
*/*/*.iml
*/*/*/*.iml

*.iml
*.log
*.tar
